@import './styles.css';

body {
    background-color: var(--color-app-background);
    margin: 0;
}

html, body {
    min-height: 640px;
    min-width: 320px;
}

h1, h2, h3, h4, p {
    margin: 0;
}



