@import './tokens.css';

.text-display {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-display);
    line-height: var(--lh-display);
    font-weight: 700;
}

.text-subtitle {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-subtitle);
    line-height: var(--lh-subtitle);
    font-weight: 500;
}

.text-h1 {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-h1);
    line-height: var(--lh-h1);
    font-weight: 700;
}

.text-h2 {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-h2);
    line-height: var(--lh-h2);
    font-weight: 600;
}

.text-h3 {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-h3);
    line-height: var(--lh-h3);
    font-weight: 600;
}

.text-h4 {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-h4);
    line-height: var(--lh-h4);
    font-weight: 500;
}

.text-body-m {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-body-m);
    line-height: var(--lh-body-m);
    font-weight: 400;
}

.text-body-s {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-body-s);
    line-height: var(--lh-body-s);
    font-weight: 400;
}

.text-footnote {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-footnote);
    line-height: var(--lh-footnote);
    font-weight: 400;
}

.text-label {
    font-family: var(--font-family-default), serif;
    font-size: var(--font-size-label);
    line-height: var(--lh-label);
    font-weight: 600;
}

.color-text-primary {color: var(--color-text-primary)}
.color-app-background {color: var(--color-app-background)}