services:
  web_main_app:
    build:
      context: .
      dockerfile: Dockerfile
      target: web_main_app
      ssh:
        - default
      args:
        GIT_BRANCH: main
        PROJECT_VERSION: ${PROJECT_VERSION}
        APP: main-app
    image: wna_web_main_app:${PROJECT_VERSION}
    container_name: wna_web_main_app
    ports:
      - "8080:8080"
    environment:
      API_DOMAIN: ${API_DOMAIN}

# Za debug
#  web_builder:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      target: web_builder_runtime
#      ssh:
#        - default
#      args:
#        GIT_BRANCH: main
#        PROJECT_VERSION: ${PROJECT_VERSION}
#    image: web_builder_runtime:${PROJECT_VERSION}
#    container_name: web_builder_runtime



#  web_admin_app:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      target: admin_app
#      ssh:
#        - default
#      args:
#        GIT_BRANCH: main
#        PROJECT_VERSION: ${PROJECT_VERSION}
#    image: wna_admin_app:${PROJECT_VERSION}
#    container_name: wna_admin_app
#    ports:
#      - "8081:8081"


